<div id="nosotros">
	<%= render partial: "contenido/nosotros_historia" %> 
	<%= render partial: "contenido/nosotros_mario" %> 
	<%= render partial: "contenido/nosotros_mision" %> 
	<%= render partial: "contenido/nosotros_vision" %> 	
	<%= render partial: "contenido/nosotros_valores" %> 
	<%= render partial: "contenido/nosotros_exactitud" %> 
	<%= render partial: "contenido/nosotros_oportunidad" %>
</div>