<div id="banner">
	<img src="/images/banner1024.png"> 
</div>
<div class="rmm">
	<ul> 
		<li><%= link_to 'Inicio', root_path %></li>
		<li><%= link_to 'Psicologia laboral', servicios_path %></li>
		<li><%= link_to 'Evaluación de Personal', evaluacion_personal_path %></li>
		<li><%= link_to 'Psicodiagnósticos y Psicoterapias', psicodiagnosticos_path %></li>	
		<li><%= link_to 'Nosotros', nosotros_path %></li>		
		<li><%= link_to 'Contacto', contacto_path %></li>				
	</ul>
</div>