<div class="rmm">
	<ul> 
		<li><%= link_to 'Inicio', root_path %></li>
		<li><%= link_to 'Nuestra Empresa', nosotros_path %></li>
		<li><%= link_to 'Servicios', servicios_path %></li>
		<li><%= link_to 'Cliente', clientes_path %></li>
		<li><%= link_to 'Contacto', contacto_path %></li>				
	</ul>
</div>